:root {
  /* Text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* linear-gradient */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
}

p {
  margin-top: 0;
  font-size: 14px;
  width: 100%;
  color: var(--Very-dark-grayish-blue);
}

h1 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  color: var(--Very-dark-desaturated-blue);
}

.accordion {
  border-bottom: 1px solid var(--Light-grayish-blue);
}

.question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
  padding: 0;
  font-size: 17px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 500;
  color: var(--Very-dark-desaturated-blue);
  margin: 15px 0 15px 0;
}

.question::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: url(images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform 300ms ease-in-out;
}

.question.open {
  font-weight: 700;
}

.question.open::after {
  transform: rotate(180deg);
}

.question:hover {
  color: var(--soft-red);
}

.answer {
  display: none;
}

.answer.open {
  display: block;
}

.main-container {
  position: relative;
  display: flex;
  min-height: 60vh;
  min-width: 65vw;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 2px 20px 50px 10px hsl(240, 50%, 46%);
}

.container {
  position: relative;
  display: flex;
  min-height: 60vh;
  min-width: 65vw;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow: hidden;
}

.pattern {
  position: absolute;
  left: -53%;
  top: -50%;
}

.woman {
  position: absolute;
  left: -8%;
  top: 17%;
}

.orange-box {
  position: absolute;
  top: 40%;
  left: -11%;
}

.right-side-container {
  width: 40%;
  height: 50%;
  position: absolute;
  right: 7%;
  top: 7%;
}
